.App {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calculator {
  background-color: #282c34;
  width: 400px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}
.display {
  background-color: #f5f5f5;
  width: 100%;
  height: 50px;
  color: #282c34;
  font-size: 2rem;
  text-align: right;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
}
.buttons {
  display: grid;
  padding-top: 10px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  border: 0;
}

.btn {
  font-size: 1em;
  height: 65px;
  margin: 5px;
}
.btn.operator {
  background-color: cyan;
}
.btn.operator:hover {
  background-color: #efefef;
}
.btn.clear {
  background-color: lightcoral;
}
.btn.clear:hover {
  background-color: #efefef;
}
